.noire{
    background-color: rgb(51, 51, 51);
}

nav .dropdown-item{
    color: rgb(204, 204, 204);
}


  .card {
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  .card:hover {
    transform: translateY(-5px);
  }

  /* frise chrnologique */



  .timeline_event{
    width: 6px;
    height: 6px;
    padding: 6px;
    background-color: black;
    border-radius: 50%;
  }

  .timeline_line{
    display: block;
    margin: 0px;
    width:1px;
    height: 100%;
    background-color: black;
    transform: translate(0.35em, 0px);
  }
